.admin-links
  =link_to "Cards", cards_path
  |
  =link_to "Teams", admin_teams_path
  |
  =link_to "Sports", sports_path
  |
  =link_to "Images", images_path
  |
  =link_to "Feed Entries", feed_entries_path

.clear