.chart
	.gp
		.bar
			.slide
			%span GP
	.ip
		.bar
			.slide
			%span IP
	.w
		.bar
			.slide
			%span W
	.l
		.bar
			.slide
			%span L
	.h
		.bar
			.slide
			%span H
	.er
		.bar
			.slide
			%span ER
	.hr
		.bar
			.slide
			%span HR
	.so
		.bar
			.slide
			%span SO
	.era
		.bar
			.slide
			%span ERA
