.feedback
	/ Feedback owner's profile pic
	%img(class="posted-by"src="http://flickholdr.com/100/100")
	/ Feedback owner's name
	%a(href="person") John Connor
	/ Feedback content
	%p
		Great job!
	.posted-at
		%p
			14 min
.feedback
	/ Feedback owner's profile pic
	%img(class="posted-by"src="http://flickholdr.com/100/100")
	/ Feedback owner's name
	%a(href="person") Sarah Para
	/ Feedback content
	%p
		You guys were on fire!
	.posted-at
		%p
			27 min
