
/ DEPRECIATED!!


/ AlbumPost Type
.album
	/ All the images associated with the post
	%img(src="/images/album/album-1.png")
	%img(src="/images/album/album-2.png")
	%img(src="/images/album/album-3.png")

/ Player Endorsement Ad Post Type
.ad
	.ad-image
		%img(src="/images/images/glove.png")
	.ad-data
		%h1 Heart of the Hide Pro Winner!
		%p
			his Heart of the Hide Pro Mesh Catcher's Mitt from Rawlings Gear features the One Piece Closed Web, which creates maximum strength and durability.

/ Event Post Type
.event
	.event-image
		&#xe005
	.event-data
		%h1 Santa Cruz at Watsonville
		%span.location Santa Cruz Arena
		%span.day October 12 2013
		%span.time 8pm

/ Inline Ad Post Type
.ad
	.ad-image
		%img(src="/images/images/nike-free-ad.png")
	.ad-data
		%h1 Step up your game, with the New 2013 Free Line
		%p
			Nike Free shoes are specifically designed to let your feet move more naturally and freely than traditional athletic shoes. Over time, this helps make your feet stronger.

/ Graph Post Type
.graph
	.graph-image
		&#xe006
	.graph-data
		%h1 New Homerun Record

/ Achievement Post Type
.achievement
	.achievement-image
		&#xe007
	.achievement-data
		%h1 Earned Super Slugger
