%table
  %thead
    %th
    %th ERA
    %th W - L
    %th SO
    %th WHIP
    %th
  %tbody
    %tr
      %th 2013 Season
      %td.data 4.26
      %td.data 5-9
      %td.data 125
      %td.data 1.33
      %td
        %a(href="" class="button") View Season
    %tr
      %th 2012 Season
      %td.data 4.26
      %td.data 5-9
      %td.data 125
      %td.data 1.33
      %td
        %a(href="" class="button") View Season
    %tr
      %th 2011 Season
      %td.data 4.26
      %td.data 5-9
      %td.data 125
      %td.data 1.33
      %td
        %a(href="" class="button") View Season
    %tr.career
      %th Career
      %td.data 3.40
      %td.data 84-65
      %td.data 1442
      %td.data 1.24
      %td
        %a(href="" class="button") View Career
