!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title USport
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=1300, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "//cloud.typography.com/7560632/754002/css/fonts.css", :rel => "stylesheet"}/
    %link{:href => "/css/main.css", :rel => "stylesheet"}/
    %link{:href => "/css/animate.css", :rel => "stylesheet"}/
    %script{:src => "/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"}
    / typekit
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')
    %script{:src => "js/main.js"}
    %script{:src => "/js/jquery.flexslider-min.js"}
    / Flexslider
    %script{:src => "//use.typekit.net/jrx7wqy.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}  
    %body
    .page-bg.section
      .slide
        %video.video-basketball{:autoplay => "", :loop => "", :muted => "", :preload => ""}
          %source{:src => "vid/bball.mp4"}
      / slide
    / /page-bg
    .header.section
      .wrapper
        %a.brand{:href => "/"} USport
    / Main hero unit for a primary marketing message or call to action
    .hero.section
      .wrapper
        .content.for-step-sign-up.active.loadIn
          %h1 Your Life, Your Sports.
          %h4 Collect &amp; share your athletic achievements with the sports community.
        .content.for-step-create-account.sub
          %h1 Design the Front
        .content.for-step-add-stats.sub
          %h1 Fill Out Your Stats
        .content.for-step-share-card.sub
          %h1 Share Your Player Card
    / /hero-unit
    .primary.section
      .wrapper
        .intro
          #step-sign-up.step
            .player-card.hover.card-baseball.loadIn{"data-face" => "front"}
              .face.face-front
                .content
              .face.face-back
                .content
            .content
              .inner
                .for-part-intro-email
                  %a{:href => "#part-intro"} &larr; Back
                .for-part-intro
                %h2#signup-copy.loadIn
                  Build your free
                  = succeed "Player" do
                    %br/
                  Card today.
                #part-intro.part.active.loadIn
                  =link_to "Continue", "#step-create-account", :class => 'btn btn-facebook' 
                  %p
                    %a{:href => "#part-intro-email"}
                      Build card for 
                      =current_user.email
                      / Or use your email address
                #part-intro-email.part
                  %div
                    %label{:for => "first-name"}
                    %input#first-name{"data-required" => "true", "data-type" => "first-name", :name => "first", :placeholder => "Email address", :type => "text", :value => ""}/
                  %div
                    %label{:for => "password"}
                    %input#password{"data-required" => "true", "data-type" => "last-name", :name => "password", :placeholder => "Password", :type => "password", :value => ""}/
                  %div
                    %label{:for => "last-name"}
                    %input#password-confirm{"data-required" => "true", "data-type" => "last-name", :name => "password-confrm", :placeholder => "Confirm password", :type => "password", :value => ""}/
                  %a.btn{:href => "#step-create-account"} Create Account
          / #step-sign-up
        / .intro
        .steps
          .inner
            .steps-nav
              %a{:href => "#step-create-account"} Front
              %a{:href => "#step-add-stats"} Stats
              %a{:href => "#step-share-card"} Share
              .progress-bar
                .fill
            .player-card.card-baseball{"data-face" => "front"}
              .face.face-front
                .content.for-part-info-b.active{:style => "background-image: url(/img/cards/1.png);"}
                .content.for-part-info-f{:style => "background-image: url(/img/cards/1b.png);"}
              .face.face-back{:style => "background-image: url(/img/cards/2.png); background-repeat:no-repeat;"}
                .content.for-part-stats-1b.active.stay
                .content.for-part-stats-1f.stay{:style => "background-image: url(/img/cards/2bs.png); background-position: center 3.2em;"}
                .content.for-part-stats-2b.stay{:style => "background-image: url(/img/cards/3s.png); background-position: center 11em;"}
                .content.for-part-stats-2f.stay{:style => "background-image: url(/img/cards/3bs.png); background-position: center 11em;"}
                .content.for-part-stats-3b.stay{:style => "background-image: url(/img/cards/4s.png); background-position: center 99%;"}
                .content.for-part-stats-3f.stay{:style => "background-image: url(/img/cards/4bs.png); background-position: center 99%;"}
            #step-create-account.step
              .content
                .inner
                  #part-info-b.part.active
                    .form
                      %img{:alt => "", :src => "/img/text-fields/text-1.png"}/
                    / END FORM
                    %a.go-to-step.go-next{:href => "#part-info-f"}
                      Next
                      %span.arrow &rarr;
                  #part-info-f.part
                    .form
                      %img{:alt => "", :src => "/img/text-fields/text-1b.png"}/
                    / END FORM
                    %a.go-to-step.go-next{:href => "#step-add-stats"}
                      Next
                      %span.arrow &rarr;
            / #step-create-account
            #step-add-stats.step
              #part-stats-1b.content.active.part
                .inner
                  .form
                    %img{:alt => "", :src => "/img/text-fields/text-2.png"}/
                  %a.go-to-step.go-next{:href => "#part-stats-1f"}
                    Next
                    %span.arrow &rarr;
              #part-stats-1f.content.part
                .inner
                  .form
                    %img{:alt => "", :src => "/img/text-fields/text-2b.png"}/
                  %a.go-to-step.go-previous{:href => "#part-stats-1b"}
                    %span.arrow &larr;
                    Previous
                  %a.go-to-step.go-next{:href => "#part-stats-2b"}
                    Next
                    %span.arrow &rarr;
              #part-stats-2b.content.part
                .inner
                  .form
                    %img{:alt => "", :src => "/img/text-fields/text-3.png"}/
                  %a.go-to-step.go-previous{:href => "#part-stats-1f"}
                    %span.arrow &larr;
                    Previous
                  %a.go-to-step.go-next{:href => "#part-stats-2f"}
                    Next
                    %span.arrow &rarr;
              #part-stats-2f.content.part
                .inner
                  .form
                    %img{:alt => "", :src => "/img/text-fields/text-3b.png"}/
                  %a.go-to-step.go-previous{:href => "#part-stats-2b"}
                    %span.arrow &larr;
                    Previous
                  %a.go-to-step.go-next{:href => '/home/cards'}
                    Next
                    %span.arrow &rarr;
              #part-stats-3b.content.part
                .inner
                  .form
                    %img{:alt => "", :src => "/img/text-fields/text-4.png"}/
                  %a.go-to-step.go-previous{:href => "#part-stats-2f"}
                    %span.arrow &larr;
                    Previous
                  %a.go-to-step.go-next{:href => "#part-stats-3f"}
                    Next
                    %span.arrow &rarr;
              #part-stats-3f.content.part
                .inner
                  .form
                    %img{:alt => "", :src => "/img/text-fields/text-4b.png"}/
                  %a.go-to-step.go-previous{:href => "#part-stats-3b"}
                    %span.arrow &larr;
                    Previous
                  %a.go-to-step.go-next{:href => "#step-share-card"}
                    Share Card
                    %span.arrow &rarr;
            / #step-add-stats
            #step-share-card.step
              .content
                .inner
                  %img{:alt => "", :src => "/img/text-fields/share.png"}/
            / #step-share-card
          / .inner
        / .steps
      / .wrapper
    / .section.primary
    /
      <div class="footer section">
      <div class="wrapper">
      <h5>Footer content</h5>
      </div>
      </div>
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')    %script{:src => "js/main.js"}
    :javascript
      $(document).ready(function(){

        //fade in the content 

        $(".intro").addClass('fadeIn');

        $('.loadIn').css('opacity',0); // prepare card for animation

        // Set up page at load

        $('.steps, .steps .step, .part:not(.active), [class*="for-step-"]:not(.active), [class*="for-part-"]:not(.active)').hide(); // hide all steps besides intro
        


        window.setTimeout( // animate player card
          function(){
            $('.hero .for-step-sign-up').addClass('animated fadeIn');
          }
        , 5);

        window.setTimeout( // animate player card
          function(){
            $('.intro .player-card').addClass('animated fadeIn');
          }
        , 9);

        window.setTimeout( // animate player card
          function(){
            $('.loadIn').addClass('animated fadeIn');

            // HACK HACK HACK

            // $('.intro').hide();
            // $('.steps').fadeIn();
            // goToSlide('step-create-account')
            // goToPart($('.part',$('#step-create-account')).eq(0));

            // end HACK
          }
        , 15);

        // end setup

        $('.player-card').hover(function(){
          $(this).toggleClass('flip');
        });
        
        // handle the links between steps
        $('[href*="#step-"]').click(function(e){

          console.log($(e.target).attr('href'));

          // if coming from the intro step, hide it and switch to the sign-up flow
          if ($(this).parents('.intro').length) {
            $('.intro').hide();
            $('.steps').fadeIn();
          }

          var newSlide = $($(e.target).attr('href'));
          if (!$(newSlide).hasClass('active')) {
            goToSlide(newSlide);  
          }
          if ($('.part',newSlide).length) {
            goToPart($('.part',newSlide).eq(0));
          }

        });

        // handle the links between parts
        $('[href*="#part-"]').click(function(e){

          var newPart = $($(e.target).attr('href'));
          if (!$(newPart).hasClass('active')) {
            goToPart(newPart);  
          }
          console.log($(e.target).attr('href'));

        });

        function goToPart(newPart) {

          var newID = $(newPart).attr("id");
          
          $('.for-'+newID).siblings('[class*="for-"]').removeClass('active').not('.stay').hide();
          $('.for-'+newID).nextAll('.stay').hide();

          $('.part#'+newID).siblings('.part').removeClass('active').hide();
          $('.for-'+newID).addClass('active').fadeIn(1000);
          $(newPart).addClass('active').fadeIn(1000);

        }

        // hide current step, show next step, and update body
        // with unique class name for active step */
        function goToSlide(newSlide) {

          var newID = $(newSlide).attr("id");
          $('body').removeClass('active-' + $('.step.active').attr('id'));
          
          $('[class*="for-step-"]').removeClass('active').hide();
          $('.steps-nav a').removeClass('active');
          $('.step.active').removeClass('active').hide();
          $('.steps-nav [href="#'+newID+'"]').addClass('active');
          $('.for-'+newID).addClass('active').fadeIn();
          $(newSlide).addClass('active').fadeIn();
          $('body').addClass('active-' + newID);

          if (newID == "step-add-stats") {
            $('.steps .player-card').attr('data-face','back');
          }
          else {
            $('.steps .player-card').attr('data-face','front');
          }

          if (newID == "step-share-card") {
            goToPart($('#part-info-f'));
          }

        }

      });
