.page
  .research-page
    %header
      .module-area

      .filter-menu
        %a(href="#" class="active") Leaders<span class="indicator"></span>
        %a(href="#") How I Stack Up
        %a(href="#") Compare
    /===End Header
    .research-section.leaders
    .research-section.how-i-stack-up(style='display:none;')
    .research-section.compare(style='display:none;')
