.player-analysis.player-section
	.analysis-data.full-width-module#batting-averages.notinview
		%h2 Monthly Batting Averages
		%canvas(width="920" height="640")
		.legend.legend-1
			.legend-group
				.color.color-1
				.label 2013
			.legend-group
				.color.color-2
				.label 2012
			.legend-group
				.color.color-3
				.label 2011

	.analysis-data.full-width-module#runs-scored.notinview
		%h2 Team Runs Scored / Runs Allowed
		%canvas(width="920" height="640")
		.legend.legend-2
			.legend-group
				.color.color-1
				.label Runs Scored
			.legend-group
				.color.color-2
				.label Runs Allowed
