.player-sponsors.player-section
	.full-width-module
		%img(src="/images/sponsors/louisville.png" style="width:22%;")
		%img(src="/images/sponsors/rawlings.png" style="width:22%;")
		%img(src="/images/sponsors/reebok.png" style="width:22%;")
		%img(src="/images/sponsors/speedstick.png" style="width:22%;")