.player-endorsements.player-section.module-area
	.full-width-module
		%h2 Player Endorsements
		.endorsement
			%p
				“Logan has serious game.  The guy can just completely shut down a team when he is on.  Every team needs a horse like this dude.  We always have a chance to win with him on the hill”
			.author
				%img(src="/images/endorsee-1.png" width="48" height= "48")
				.byline
					%span(class="name") Charlie Dean
					%br/
					%span(class="affiliation") River High School
		.endorsement
			%p
				“I’ve been working with Logan for the past three off-seasons and have been enormously impressed with his commitment and work ethic.  He takes instruction well and is able to make adjustments quickly.  When I first started working with him, he had some challenges with inconsistent arm slot positioning that was really tipping his pitches and hampering his control.  With a lot of hard work, he has grown into a legitimate division I prospect.  I am looking forward to following his career in the years to come."
			.author
				%img(src="/images/endorsee-2.png" width="48" height= "48")
				.byline
					%span(class="name") Sam Bronner
					%br/
					%span(class="affiliation") Sluggers Baseball Conditioning
