.player-media.player-section
	.videos.full-width-module
		%h2 Videos
		.video
			<iframe src="//www.youtube.com/embed/gOvjBfzms1c" frameborder="0" allowfullscreen></iframe>
			%h1 Career Highlights
			%p After attending Liberty Senior High School, Craig played college baseball at the University of Washington. Pitching for the Washington Huskies, Craig won the 2006 Golden Spikes Award.
		.video
			<iframe src="//www.youtube.com/embed/nJHjmDmjg2U" frameborder="0" allowfullscreen></iframe>
			%h1 Craig Pitches No Hitter
			%p Craig dominated in San Diego, recording a season-high 13 strikeouts and throwing a career-high 148 pitches in a 9-0 victory.
	.photos.full-width-module
		%h2 Photos
		%img(src="/images/player/craig-action.jpg" alt="soemthing")
		%img(src="/images/player/craig-square.jpg" alt="soemthing")
		%img(src="/images/player/craig-square.jpg" alt="soemthing")
		%img(src="/images/player/craig-square.jpg" alt="soemthing")
		%img(src="/images/player/craig-square.jpg" alt="soemthing")
